<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyLibrary"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <uses-library
            android:name="android.test.runner"
            android:required="false" />
        <activity
            android:name=".Sub2_activity"
            android:exported="false" />
        <activity
            android:name=".Sub1_activity"
            android:exported="false" />
        <activity
            android:name=".Categories.Cat_instructive"
            android:exported="false" />
        <activity
            android:name=".Categories.Cat_fun"
            android:exported="false" />
        <activity
            android:name=".Categories.Cat_sad"
            android:exported="false" />
        <activity
            android:name=".Categories.Cat_religious"
            android:exported="false" />
        <activity
            android:name=".Categories.Cat_emotional"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto60_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto59_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto58_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto57_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto56_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto55_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto54_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto53_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto52_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto51_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto50_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto49_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto48_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto47_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto46_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto45_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto44_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto43_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto42_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto41_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto40_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto39_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto38_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto37_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto36_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto35_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto34_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto33_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto32_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto31_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto30_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto29_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto28_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto27_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto26_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto25_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto24_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto23_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto22_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto21_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto20_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto19_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto18_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto17_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto16_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto15_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto14_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto13_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto12_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto11_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto10_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto9_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto8_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto7_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto6_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto5_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto4_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto3_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto2_activity"
            android:exported="false" />
        <activity
            android:name=".Stories.Sto1_activity"
            android:exported="false" />
        <activity
            android:name=".Stories_activity"
            android:exported="false" />
        <activity
            android:name=".Categories_activity"
            android:exported="false" />
        <activity
            android:name=".Settings_activity"
            android:exported="false" />
        <activity
            android:name=".Search_activity"
            android:exported="false"
            android:theme="@style/Theme.searchtheme" />
        <activity
            android:name=".About_activity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Splash_activity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>